@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&display=swap');
.centrar{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centrarElementos{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.centrarEntradas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    label{
        font-size: 20px;
        font-weight: 600;
        color: rgb(70, 176, 176);
    }
    input{
        border-radius: 20px;
        height: 30px;
    }
    .boton{
            background-color: brown;
            padding: 0 15px;
        }
}
.centrarElementos h2{
    font-family: "Bitcount Prop Single";
    font-size: 30px;
    color: rgb(146, 159, 171);
}